version: '3'
services:
  grafana:
    restart: always      
    image: grafana/grafana:9.0.1
    container_name: baas_monitor_grafana
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}
      - GF_SECURITY_ALLOW_EMBEDDING=true
    ports:
      - ${HOST_MONITOR_PORT}:3000
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./grafana/dashboard/home.json:/usr/share/grafana/public/dashboards/home.json
      - ./grafana/datasource/home.yaml:/etc/grafana/provisioning/datasources/home.yaml
    networks:
      - prometheus_baas_monitor_net
networks:
  prometheus_baas_monitor_net:
    external: true
